* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #2c3e50;
  font-family: sans-serif;
}

.spinner {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px #192129;
  line-height: 200px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  color: #f1c40f;
  text-shadow: 0 0 5px #f1c40f, 0 0 25px #fcdc5f;
}

.spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-top: 4px solid #f1c40f;
  border-right: 4px solid #f1c40f;
  border-radius: 50%;
  top: -4px;
  left: -4px;
  animation: animateBorder 2s linear infinite;
}
@keyframes animateBorder {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  background: transparent;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

span::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f1c40f;
  box-shadow: 0 0 10px #f1c40f, 0 0 20px #f2ce40;
  right: -8px;
  top: -4px;
}
